<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% navItems.forEach(item => {%>
            <li class="nav-item">
              <a class="nav-link <%= item.active ? 'active' : '' %>" aria-current="page" href="<%= item.path %>"><%= item.action %></a>
            </li>
          <% }) %>
        </ul>
        <ul class="navbar-nav navbar-right">
          <% if (user) {%>
            <li class="nav-item">
              <%= user.username %>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <%- body %>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
